<techo-nav-bar logo-src="/images/logo.png"
               add-family-text="Agregar familia">
</techo-nav-bar>

<div class="container" ng-controller="MapCtrl">
  <div id="map-canvas">

  </div>
</div>
