<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  	<div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        	<img width=90 alt="Brand" src="/images/logo.png">
	      </a>
    </div>
  	<div class="container">
    	<ul class="nav navbar-nav">
	        <li><a href="#"><i class="fa fa-plus-circle"></i> Agregar Familia</a></li>
      	</ul>
  	</div>
</nav>
<div class="content" ng-controller="mapa">
    <div id="map-canvas">

    </div>
</div>
