<!DOCTYPE html>
<html>
<head>
    <title>Techo Encuestas</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <link rel="stylesheet" href="/js/dependencies/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/dependencies/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/js/dependencies/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/js/dependencies/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="shortcut icon" href="favicon.png"/>
    <style>
        #map-canvas {
            position: absolute;
            top: 50px;
            left: 0;
            bottom: 10px;
            right: 0;
        }
    </style>
</head>

<body ng-app="techo">
<div id='wrapper'>

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller="navBarCtrl">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img width=90 alt="Brand" src="/images/logo.png">
            </a>
        </div>
        <div class="container">
            <% if (errors) { %>
            <% errors.forEach(function (error) { %>
            <%= __(error) %>
            <% }) %>
            <% } %>
        </div>
    </nav>


    <form class="form-signin" role="form" action="/auth/local" method="post">
        <h2 class="form-signin-heading">Por favor inicie sesi&oacute;n</h2>
        <label for="identifier" class="sr-only">Email</label>
        <input id="identifier" type="text" name="identifier" placeholder="Email" class="form-control">

        <label for="password" class="sr-only">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" class="form-control">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

    <!--
<% if (Object.keys(providers).length) { %>
<h4>You can also use one of these...</h4>

<% Object.keys(providers).forEach(function (key) { %>
<a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
<% }) %>
<% } %>
-->


</div>


<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<script src="/js/dependencies/sails.io.js/dist/sails.io.js"></script>
<script src="/js/dependencies/angular/angular.min.js"></script>
<script src="/js/dependencies/jquery/dist/jquery.js"></script>
<script src="/js/dependencies/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/dependencies/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>

<script src="/js/dependencies/angular-toastr/dist/angular-toastr.js"></script>

<!-- Maps -->
<script src='/js/dependencies/lodash/lodash.min.js'></script>
<script src='/js/dependencies/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>

<!-- APP -->

<script src='/js/app.js'></script>
<script src='/js/controllers/map.js'></script>

</body>
</html>
