<div class="modal-header">
  <h3 class="modal-title">Agregar familia</h3>
</div>
<div class="form-container">
	<form class="form-family" role="form">
	  	<div class="form-group">
	    	<label for="name">Nombre Jefe/a:</label>
	    	<input type="name" class="form-control" id="name">
	  	</div>
	  	<div class="form-group">
    	    	<label for="apellido">Apellido Jefe/a:</label>
	    	<input type="apellido" class="form-control" id="apellido">
	  	</div>
	  	<div class="form-group">
	    	<label for="barrio">Barrio:</label>
	    	<input type="barrio" class="form-control" id="barrio">
	  	</div>
	  	<div class="form-group">
	    	<label for="calle">Calle:</label>
	    	<input type="calle" class="form-control" id="calle">
	  	</div>
	  	<div class="form-group">
	    	<label for="numero">Número:</label>
	    	<input type="numero" class="form-control" id="numero">
	  	</div>
	  	<div class="form-group">
	    	<label for="referencias">Referencias:</label>
	    	<input type="referencias" class="form-control" id="referencias">
	  	</div>
	  	<div class="form-group">
	    	<label for="telefono">Teléfono:</label>
	    	<input type="telefono" class="form-control" id="telefono">
	  	</div>
	  	<!--<button type="submit" class="btn btn-default">Guardar</button>-->
	</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
