<div class="modal-header">
  <h2 class="modal-title">Agregar familia</h2>
</div>

<form class="form-horizontal">
  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="name">Nombre Jefe/a</label>

    <div class="col-sm-10">
      <input id="name" class="form-control" type="text" placeholder="Nombre Jefe/a:"
             ng-model="selectedFamily.bossFirstName">
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="lastName">Apellido Jefe/a:</label>

    <div class="col-sm-10">
      <input id="lastName" class="form-control" type="text" placeholder="Apellido Jefe/a"
             ng-model="selectedFamily.bossLastName">
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="neighborhood">Barrio</label>

    <div class="col-sm-10">
      <input id="neighborhood" class="form-control" type="text" placeholder="Barrio"
             ng-model="selectedFamily.neighborhood">
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="neighborhood">Calle</label>

    <div class="col-sm-10">
      <input id="street" class="form-control" type="text" placeholder="Calle" ng-model="selectedFamily.street">
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="neighborhood">Número</label>

    <div class="col-sm-10">
      <input id="streetNumber" class="form-control" type="text" placeholder="Número"
             ng-model="selectedFamily.streetNumber">
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="neighborhood">Referencias</label>

    <div class="col-sm-10">
      <input id="comments" class="form-control" type="text" placeholder="Referencias"
             ng-model="selectedFamily.comments">
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label class="col-sm-2 control-label" for="neighborhood">Teléfono</label>

    <div class="col-sm-10">
      <input id="phone" class="form-control" type="text" placeholder="Teléfono" ng-model="selectedFamily.phone">
    </div>
  </div>
</form>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Guardar</button>
  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
